.row {
    padding: 60px 120px 120px;
    font-size: .8em;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 15px;
    display: flex;
}

#bio {
    padding-left: 50px;
    padding-top: 40px;
background-color: #FAFAFA;
    padding-right: 10px;
}

p a,
li a {
    text-decoration: none;
    color: dimgray;
    font-weight: 900;
}

body {
    font-family: 'Open Sans';
    font-size: 22px;
    padding: 0px;
    margin: 0px;
}

li a {
    margin-right: 24px;
    
}

li {
    list-style: none;
}

li a:hover {

    border: 10px solid lightgoldenrodyellow;
    border-radius: 6px;
    background-color: lightgoldenrodyellow;
}

h1 {
    text-align: center;
    color: dimgrey;
}

header {
    background-color: lightgoldenrodyellow;
    height: 60px;
    padding: 0px;
    text-align: center;
    padding-top: 18px;
}

header a {

    text-decoration: none;
    color: dimgrey;
    font-weight: 100;
    font-size: 20px;
    padding: 50px;
    border-right: 1px solid dimgray;
    padding-bottom: 0px;
    padding-top: 0px;
}

header a:last-child {
    border-right: none
}

header a:hover {
    color: orange;
}



/*/////////////////////GUESS IT///////////////////*/
form {
    padding-top: 40px;
    padding-bottom: 40px
}

.contentWrap {
    padding: 60px 120px 200px;
}

input {
    width: 200px;
    height: 30px;
    background-color: #FAFAFA;
    border-color: dimgray;
}


button {
    width: 220px;
    height: 40px;
    font-size: 16px;
    background-color: dimgray;
    border: none;
    border-radius: 4px;
}

button a {
    text-decoration: none;
    color: white;
    border-color: none;
}

button:hover {
    background-color: orange;
    border-radius: 4px;
}

.guessit {
    justify-content: center;
}


footer{
    background-color: dimgrey;
    height: 100px;
    padding-top: 80px;
    padding-left: 20px;
    text-align: center;
    color: white;
    font-size: .6em;
}
h3 {
    color: dimgray;
}